<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Order Confirmation</h1>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of cartItems">
                    <tr>
                        <td>
                            <div class="product-info">
                                <img [src]="item.product.thumbnail" alt="Product Image" class="product-image">
                                <span class="product-name">{{ item.product.name }}</span>
                            </div>
                        </td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price | currency:'$':'symbol':'1.0-0' }}</td>
                        <td>{{ (item.product.price * item.quantity) | currency:'$':'symbol':'1.0-0' }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div class="text-align mt-3 mx-auto">
            <button class="btn btn-gradient" type="button">Continue Shopping</button>
        </div>
    </div>

        <!-- Ô nhập mã giảm giá -->
        <div class="input-group mb-3 mt-3 col-6">
            <input type="text" class="form-control" 
                [(ngModel)]="couponCode" placeholder="Voucher">
            <div class="input-group-append" style="margin-left: 10px;">
                <button class="btn btn-outline-secondary" type="button" (click)="applyCoupon()">Apply</button>
            </div>
        </div>
    
        <!-- Hiển thị tổng tiền sau khi áp dụng giảm giá -->
        <h4 class="mb-0">Total payment: {{ totalAmount | currency:'$':'symbol':'1.0-0' }}</h4>
        <div class="text-center mt-3">
            <button class="btn btn-gradient" type="button">Order now</button>
        </div> 

</div>
<app-footer></app-footer>